extends blocks/base.pug

block title 
	title Навигация по страницам

block style-libs
	link(rel="stylesheet", href="css/bootstrap-4.6.1.css")

	link(rel="stylesheet", href="css/libs/air-datepicker.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content

	.page

		//- include blocks/header.pug
		
		// resale00
		.resale00
			.resale00__head 
				.resale00__title Вторая попытка продажи
				form(action="#").resale00__form
					.resale00__input
						.resale00__label Дата начала
						input(type="text" autocomplete="off" readonly)#dateAbout
					.resale00__input
						.resale00__label Дата начала
						input(type="text" autocomplete="off" readonly)#dateTo
					button(type="submit").resale00__btn.resale00__btn--gray Показать
			.row
				.col-xl-3.col-md-6
					.resale00__item 
						.resale00__item-head комментарии
						.resale00__body
							.resale00__text
								p 
									b +7(499) 175-53-92 
									|  Галина Михайловна,
								p Окна в квартире, Стоимость проекта: 30000 руб.,
								p 
									b Комментарий: 
									| Галина Михайловна, планирует заменить окно, определяется. Цену не назвала, рассказала про компанию, качество, гарантии...видимо сравнивает информацию пока
								p 
									b Звонок принял: 
									| &ensp;&ensp;&ensp;18.01.2022 &ensp;&ensp;&ensp;11:25 <br>Дацуквич Александра
								a(href="#") подробнее
							.resale00__center
								a(href="#").resale00__btn.resale00__btn--gray Показать
				.col-xl-3.col-md-6
					.resale00__item 
						.resale00__item-head комментарии
						.resale00__body
							.resale00__text
								p 
									b +7(499) 175-53-92 
									|  Галина Михайловна,
								p Окна в квартире, Стоимость проекта: 30000 руб.,
								p 
									b Комментарий: 
									| Галина Михайловна, планирует заменить окно, определяется. Цену не назвала, рассказала про компанию, качество, гарантии...видимо сравнивает информацию пока
								p 
									b Звонок принял: 
									| &ensp;&ensp;&ensp;18.01.2022 &ensp;&ensp;&ensp;11:25 <br>Дацуквич Александра
								a(href="#") подробнее
							.resale00__center
								a(href="#").resale00__btn.resale00__btn--gray Показать
				.col-xl-3.col-md-6
					.resale00__item 
						.resale00__item-head комментарии
						.resale00__body
							.resale00__text
								p 
									b +7(499) 175-53-92 
									|  Галина Михайловна,
								p Окна в квартире, Стоимость проекта: 30000 руб.,
								p 
									b Комментарий: 
									| Галина Михайловна, планирует заменить окно, определяется. Цену не назвала, рассказала про компанию, качество, гарантии...видимо сравнивает информацию пока
								p 
									b Звонок принял: 
									| &ensp;&ensp;&ensp;18.01.2022 &ensp;&ensp;&ensp;11:25 <br>Дацуквич Александра
								a(href="#") подробнее
							.resale00__center
								a(href="#").resale00__btn.resale00__btn--gray Показать
				.col-xl-3.col-md-6
					.resale00__item 
						.resale00__item-head комментарии
						.resale00__body
							.resale00__text
								p 
									b +7(499) 175-53-92 
									|  Галина Михайловна,
								p Окна в квартире, Стоимость проекта: 30000 руб.,
								p 
									b Комментарий: 
									| Галина Михайловна, планирует заменить окно, определяется. Цену не назвала, рассказала про компанию, качество, гарантии...видимо сравнивает информацию пока
								p 
									b Звонок принял: 
									| &ensp;&ensp;&ensp;18.01.2022 &ensp;&ensp;&ensp;11:25 <br>Дацуквич Александра
								a(href="#") подробнее
							.resale00__center
								a(href="#").resale00__btn.resale00__btn--gray Показать
				.col-xl-3.col-md-6
					.resale00__item 
						.resale00__item-head комментарии
						.resale00__body
							.resale00__text
								p 
									b +7(499) 175-53-92 
									|  Галина Михайловна,
								p Окна в квартире, Стоимость проекта: 30000 руб.,
								p 
									b Комментарий: 
									| Галина Михайловна, планирует заменить окно, определяется. Цену не назвала, рассказала про компанию, качество, гарантии...видимо сравнивает информацию пока
								p 
									b Звонок принял: 
									| &ensp;&ensp;&ensp;18.01.2022 &ensp;&ensp;&ensp;11:25 <br>Дацуквич Александра
								a(href="#") подробнее
							.resale00__center
								a(href="#").resale00__btn.resale00__btn--gray Показать
				.col-xl-3.col-md-6
					.resale00__item 
						.resale00__item-head комментарии
						.resale00__body
							.resale00__text
								p 
									b +7(499) 175-53-92 
									|  Галина Михайловна,
								p Окна в квартире, Стоимость проекта: 30000 руб.,
								p 
									b Комментарий: 
									| Галина Михайловна, планирует заменить окно, определяется. Цену не назвала, рассказала про компанию, качество, гарантии...видимо сравнивает информацию пока
								p 
									b Звонок принял: 
									| &ensp;&ensp;&ensp;18.01.2022 &ensp;&ensp;&ensp;11:25 <br>Дацуквич Александра
								a(href="#") подробнее
							.resale00__center
								a(href="#").resale00__btn.resale00__btn--gray Показать
			.row
				.col-xl-3.col-md-6
					.resale00__buttonscolor
						.resale00__btn.resale00__btn--green.w-100
							img(src="img/green_icon.png", alt="") 
							span обработано
						.resale00__btn.resale00__btn--red.w-100
							img(src="img/red_icon.png", alt="")
							span НЕ обработано
			.resale00__arrowtop#scroll_top
				svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="37px" viewBox="0 0 28 37")
					path(fill-rule="evenodd"  fill="#f4f6f9" d="M20.021484,35.97522 C20.021484,35.97522 20.021484,17.954102 20.021484,17.954102 C20.021484,17.954102 26.464111,17.954102 26.464111,17.954102 C26.464111,17.954102 14.0164795,1.4489746 14.0164795,1.4489746 C14.0164795,1.4489746 1.5686035,17.954102 1.5686035,17.954102 C1.5686035,17.954102 8.011475,17.954102 8.011475,17.954102 C8.011475,17.954102 8.011475,35.97522 8.011475,35.97522 C8.011475,35.97522 20.021484,35.97522 20.021484,35.97522 Z")
		//	/resale00
			
		//- include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	script(src="js/libs/air-datepicker.js") 
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")